

.split-stats-top {
    padding-top: 5%;
}



.split-stats-graphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 2px solid black;
    border-radius: 20px;
    width: 85%;
    height: 80%;
    background-color: white;
}

.split-stats-graphs-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}